extends layout

block content
  .home-background-wrapper
    .home-background(style="background-image: url('images/background.jpg')")
  
  .container.index-search
    .row
      .col-md-10.col-md-offset-1
        h1.hero Listen to the best tracks of any artist.
        p.hero-subtitle Type in an artist to generate a playlist of their 5 most popular songs.  
    .row
      form.artist-search(action="/search", method="get")
        .col-md-6.col-md-offset-2
          input.query(class="artist-typeahead", type="text", name="query", autofocus="true", autocomplete="off", placeholder="Search any musical artist or band")
        .col-md-2
          button.button.search-button Search

  .container.homepage-artists
    .homepage-section
      .row
        .col-md-12
          .section-header Popular
      .row
        .col-md-4
          a(href="/listen/Miguel")
            .homepage-artist-name= "Miguel"
            .homepage-artist-image(style="background-image: url('http://img2-ak.lst.fm/i/u/770x0/16b88b4686254f719757b0b10f6ed8b0.jpg');")
        .col-md-4
          a(href="/listen/Kamasi+Washington")
            .homepage-artist-name= "Kamasi Washington"
            .homepage-artist-image(style="background-image: url('http://img2-ak.lst.fm/i/u/770x0/94dd1d2ea9557609012b0587f2d3da83.jpg');")
        .col-md-4
          a(href="/listen/Travi$+Scott")
            .homepage-artist-name= "Travi$ Scott"
            .homepage-artist-image(style="background-image: url('http://img2-ak.lst.fm/i/u/770x0/817b476b01c442c9c22de22fbc48334c.jpg');")
      .row
        .col-md-4
          a(href="/listen/James Blake")
            .homepage-artist-name= "James+Blake"
            .homepage-artist-image(style="background-image: url('http://img2-ak.lst.fm/i/u/770x0/ce7752080a574a9094fc4ee3e9d2da11.jpg');")
        .col-md-4
          a(href="/listen/Tame Impala")
            .homepage-artist-name= "Tame+Impala"
            .homepage-artist-image(style="background-image: url('http://img2-ak.lst.fm/i/u/770x0/3a644b09c8134e409283e4f6129ac243.jpg');")
        .col-md-4
          a(href="/listen/HAIM")
            .homepage-artist-name= "HAIM"
            .homepage-artist-image(style="background-image: url('http://img2-ak.lst.fm/i/u/770x0/b82f6a3b34e34785b0908d4888d19786.jpg');")
    .homepage-section
      .row
        .col-md-12
          .section-header Recommended
      .row
        .col-md-4
          a(href="/listen/Arca")
            .homepage-artist-name= "Arca"
            .homepage-artist-image(style="background-image: url('http://img2-ak.lst.fm/i/u/770x0/7dd1616b2876479ac7b7d8006fdc6cfc.jpg');")
        .col-md-4
          a(href="/listen/Julia+Holter")
            .homepage-artist-name= "Julia Holter"
            .homepage-artist-image(style="background-image: url('http://img2-ak.lst.fm/i/u/770x0/9490692792cf40a3bacac8644c089260.jpg');")
        .col-md-4
          a(href="/listen/toe")
            .homepage-artist-name= "toe"
            .homepage-artist-image(style="background-image: url('http://img2-ak.lst.fm/i/u/770x0/5e31db65d9a3457385f7d8224974f1d9.jpg');")
      .row
        .col-md-4
          a(href="/listen/At+the+Drive-In")
            .homepage-artist-name= "At the Drive-In"
            .homepage-artist-image(style="background-image: url('http://img2-ak.lst.fm/i/u/770x0/41ddce585bf342e084ef824201f88674.jpg');")
        .col-md-4
          a(href="/listen/NehruvianDOOM")
            .homepage-artist-name= "NehruvianDOOM"
            .homepage-artist-image(style="background-image: url('http://img2-ak.lst.fm/i/u/770x0/f105a8c191ca4784c76f66fab76d33d7.jpg');")
        .col-md-4
          a(href="/listen/Oddisee")
            .homepage-artist-name= "Oddisee"
            .homepage-artist-image(style="background-image: url('http://img2-ak.lst.fm/i/u/770x0/26889667a7f14ac890c94ff324f844a4.jpg');")
    .homepage-section
      .row
        .col-md-12
          .section-header Obscure
      .row
        .col-md-4
          a(href="/listen/Tyondai+Braxton")
            .homepage-artist-name= "Tyondai Braxton"
            .homepage-artist-image(style="background-image: url('http://img2-ak.lst.fm/i/u/770x0/f84776f4e08844d0b34a478cc8025ae6.jpg');")
        .col-md-4
          a(href="/listen/American+Football")
            .homepage-artist-name= "American Football"
            .homepage-artist-image(style="background-image: url('http://img2-ak.lst.fm/i/u/770x0/02d749ebe0104dbd9f799d9edf6f110c.jpg');")
        .col-md-4
          a(href="/listen/milo")
            .homepage-artist-name= "milo"
            .homepage-artist-image(style="background-image: url('http://img2-ak.lst.fm/i/u/770x0/b72d640033ab4d51cdecd6ca6f3a8c50.jpg');")
      .row
        .col-md-4
          a(href="/listen/Elvis+Depressedly")
            .homepage-artist-name= "Elvis Depressedly"
            .homepage-artist-image(style="background-image: url('http://img2-ak.lst.fm/i/u/770x0/f9fe251bd17c4167814709c7f402b583.jpg');")
        .col-md-4
          a(href="/listen/Xenia+Rubinos")
            .homepage-artist-name= "Xenia Rubinos"
            .homepage-artist-image(style="background-image: url('http://img2-ak.lst.fm/i/u/770x0/3c29b48cf69b4de9a10e5756220ba786.jpg');")
        .col-md-4
          a(href="/listen/Japanese+Breakfast")
            .homepage-artist-name= "Japanese Breakfast"
            .homepage-artist-image(style="background-image: url('http://img2-ak.lst.fm/i/u/770x0/76387875b18ecb83222bfd0f92a3d40b.jpg');")
