:css
  .content::before {
    background-image: url('/img/background.jpg');
  }

%body
  .content
    = haml :header, :locals => {show_search_more_button: false}
    .container
      .search-wrapper
        %h1.hero
          Listen to the best tracks of any artist.
        .subtitle
          Goodnotes finds the 5 most popular songs of an artist and plays them for you.
        %form.search-form{action: '/search', method: "get"}
          %div
            %input#query{class: 'typeahead', type: 'text', name: 'query', placeholder: 'Artist/Band Name', autofocus: 'autofocus', autocomplete: 'off'}
          %div
            %button 
              %span.search-label Search artists
              %i.fa.fa-play.search-icon
        - for category in categories
          .row.category
            .col-md-12
              .col-md-12.category-title
                = category[:title]
              .row
                - for artist in category[:artists].first(3)
                  .col-md-4
                    %a.category-artist{href: artist[:artist_url], style: "background-image: url(#{artist[:image_url]})"} 
                      .category-artist-card
                        = artist[:artist_name]
              .row
                - for artist in category[:artists].last(3)
                  .col-md-4
                    %a.category-artist{href: artist[:artist_url], style: "background-image: url(#{artist[:image_url]})"} 
                      .category-artist-card
                        = artist[:artist_name]
    = haml :footer
