%body{style: "background-image: url(#{artist_image_url});"}
  .content
    = haml :header
    .now-playing
      .container
        .row
          .col-md-8
            %div
              .artist-name
                = "Here are the 5 most popular songs by #{artist}."
              .listen-suggestion
                Give them a spin. 
    %div
      .container
        .songs
          .row
            .col-md-6
              %div
                - songs.each do |song|
                  .song-card{data: {media_id: song[:media_id], media_source: song[:media_source]}}
                    %div
                      %span.song-name
                        = song[:name]
                    %div
                      %a.source-link{href: song[:media_url], target: '_blank'}
                        Listen from source »
            .col-md-6
              #ytapiplayer
        .share
          .row
            .col-md-12
              %div Like what you hear? Share this artist with a friend.
              %div
                %input.form-control{type: 'text', value: share_url}
    = haml :footer
%script{src: '//cdnjs.cloudflare.com/ajax/libs/swfobject/2.2/swfobject.min.js'}

:javascript
  window.App = App = window.App || {}
  App.songs = #{songs.to_json} 
  App.currentSong = _.first(App.songs)
  var params = { allowScriptAccess: "always" };
    var atts = { id: "myytplayer" };
    swfobject.embedSWF("http://www.youtube.com/v/" + App.songs[0]['media_id'] + "?enablejsapi=1&playerapiid=ytplayer&version=3&autoplay=1",
                       "ytapiplayer", "425", "356", "8", null, null, params, atts);

