:css
  .content::before {
    background-image: url(#{artist_image_url});
  }
%body
  .content
    = haml :header, :locals => { show_search_more_button: true}
    %div
      .container
        .songs
          .row
            .col-md-6
              .now-playing
                .artist-name-header
                  %span.artist-name
                    = "#{artist}"
                - unless info.empty?
                  .info-wrapper
                    .info-text
                      = info

                .listen-suggestion
                  %div
                    = "Here are #{artist}'s top #{songs.size} songs right now."
                  %div
                    Give them a spin.
              %div
                - songs.each do |song|
                  .song-card{data: {media_id: song[:media_id], media_source: song[:media_source]}}
                    .number
                      = "#{song[:number]}."
                    .song-details
                      %div
                        %span.song-name
                          = song[:name]
                      %div
                        %a.source-link{href: song[:media_url], target: '_blank'}
                          Listen from source »
              - if similar_artists.first
                %div.up-next
                  %span.up-next-text
                    Artist Up Next:
                  %span
                    %a.artist-name{href: "/listen/#{similar_artists.first[:escaped_name]}"} 
                      = similar_artists.first[:name]
            .col-md-6
              .controls
                .current-song
                  Now Playing: 
                  %span.current-song-name
                    = songs.first[:name]
                %i.fa.fa-fast-backward.prev-song
                %i.fa.fa-fast-forward.next-song
                #player
              - if similar_artists.first
                .similar-artists
                  .heading
                    Check out these related artists
                    - similar_artists.each do |artist|
                      %a.similar-artist{href: "/listen/#{artist[:escaped_name]}", style: "background-image: url(#{artist[:image_url]})"} 
                        .artist-card
                          = artist[:name]

    = haml :footer

:javascript
  window.App = App = window.App || {}
  App.songs = #{songs.to_json} 
  App.similarArtists = #{similar_artists.to_json}
