:css
  .content::before {
    background-image: url(#{artist_image_url});
  }
%body
  .content
    = haml :header, :locals => { show_search_more_button: true}
    %div
      .container
        .songs
          .row
            .col-md-6
              .now-playing
                .artist-name-header
                  = "Here are the #{songs.size} most popular songs by"
                  %span.artist-name
                    = "#{artist}."
                  %span.info{"data-container" => "body", "data-content" => info, "data-html" => true, "data-placement" => "bottom", "data-toggle" => "popover", :type => "button" }
                    %i.fa.fa-info-circle

                .listen-suggestion
                  Give them a spin. 
              %div
                - songs.each do |song|
                  .song-card{data: {media_id: song[:media_id], media_source: song[:media_source]}}
                    .number
                      = "#{song[:number]}."
                    .song-details
                      %div
                        %span.song-name
                          = song[:name]
                      %div
                        %a.source-link{href: song[:media_url], target: '_blank'}
                          Listen from source »
              %div.up-next
                %span.up-next-text
                  Artist Up Next:
                %span
                  %a.artist-name{href: "/listen/#{similar_artists.first[:escaped_name]}"} 
                    = similar_artists.first[:name]
            .col-md-6
              .controls
                .current-song
                  Now Playing: 
                  %span.current-song-name
                    = songs.first[:name]
                %i.fa.fa-fast-backward.prev-song
                %i.fa.fa-fast-forward.next-song
                #ytapiplayer
              .similar-artists
                .heading
                  = "Like #{artist}? Check out these similar artists"
                - similar_artists.each do |artist|
                  %a.similar-artist{href: "/listen/#{artist[:escaped_name]}", style: "background-image: url(#{artist[:image_url]})"} 
                    .artist-card
                      = artist[:name]

    = haml :footer

:javascript
  window.App = App = window.App || {}
  App.songs = #{songs.to_json} 
  App.similarArtists = #{similar_artists.to_json}
