
%body{style: "background-image: url(#{artist_image_url});"}
  .content
    = haml :header
    .now-playing
      .container
        .row
          .col-md-8
            %div
              .artist-name
                = "Here are the 5 most popular songs by #{artist}."
              .listen-suggestion
                Give them a spin. 

    %div
      .container
        .row
          .col-md-12 
            %div
              - songs.each do |song|
                .song-card 
                  %div
                    %span.song-name
                      = song[:name]
                  %div
                    %a.source-link{href: song[:youtube_media_url], target: '_blank'}
                      Listen from source »
