:css
  .content::before {
    background-image: url(#{artist_image_url});
  }
%body
  .content
    = haml :header_more_artists
    %div
      .container
        .songs
          .row
            .col-md-6
              .now-playing
                .artist-name-header
                  Here are the 5 most popular songs by
                  %span.artist-name
                    = "#{artist}."

                .listen-suggestion
                  Give them a spin. 
              %div
                - songs.each do |song|
                  .song-card{data: {media_id: song[:media_id], media_source: song[:media_source]}}
                    %div
                      %span.song-name
                        = song[:name]
                    %div
                      %a.source-link{href: song[:media_url], target: '_blank'}
                        Listen from source »
            .col-md-6
              %div
              .controls
                .current-song
                  Now Playing: 
                  %span.current-song-name
                    = songs.first[:name]
                %i.fa.fa-fast-backward.prev-song
                %i.fa.fa-fast-forward.next-song
                #ytapiplayer
        .share
          .row
            .col-md-12
              %div Like what you hear? Share this artist with a friend.
              %div
                %input.form-control{type: 'text', value: share_url}
    = haml :footer
%script{src: '//cdnjs.cloudflare.com/ajax/libs/swfobject/2.2/swfobject.min.js'}

:javascript
  window.App = App = window.App || {}
  App.songs = #{songs.to_json} 
  App.currentSong = _.first(App.songs)
  var params = { allowScriptAccess: "always" };
    var atts = { id: "myytplayer" };
    swfobject.embedSWF("http://www.youtube.com/v/" + App.songs[0]['media_id'] + "?enablejsapi=1&playerapiid=ytplayer&version=3&autoplay=1&color=white&fs=0&modestbranding=1&rel=0",
                       "ytapiplayer", "425", "356", "8", null, null, params, atts);

